<div class="container-fluid">
  <section class=row>
    <h2 class="left">{{ teams.welcome }}</h2>
  <div class="col-lg-4 col-md-4 col-sm-4"> <!-- ng-show? -->
    <div>
        <!-- <table class="table table-striped table-hover table-condensed"> -->
        <table>
          <thead>
            <tr>
              <th>Team Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="team in teams.allTeams | orderBy: 'cityName' | filter: userSearch">
              <td><a href ="" ng-click="teams.selectTeam(team)">{{ team.cityName }}  {{ team.teamName }} {{ team.year }} </a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


    <!-- Player Bio Section -->
    <div ng-show="teams.individualTeamView" class="col-lg-8 col-md-8 col-sm-8">
      <section class="row">
        <div class="col-md-7"><h3>Team</h3>
          <h4> {{ teams.team.cityName }}  {{ teams.team.teamName }} {{ teams.team.year }}
          </h4>
          <img ng-src="{{ teams.team.image }}" class="img-player" alt="Team image">
          <!-- <div ng-show="teams.managerView"> -->
          <p>Manager: {{ teams.team.managerId.firstName }} {{ teams.team.managerId.lastName }}</p>
          <p>Primary Color: {{ teams.team.primaryColor }}</p>
          <p>Secondary Color: {{ teams.team.secondaryColor }}</p>
        </div>
        <div class="col-md-5">
          <h3>Roster</h3>
          <p>Player {{ teams.team.playerId }}</p>
        </div>
<!--         <div ng-show="teams.individualPlayerView" class="row">
          <div class="col-sm-12">
            <p>Email: {{ teams.team.email }}</p>
            <p>Phone: {{ teams.team.phone }}</p>
          </div>
        </div> -->
      </section>
    </div>
  </section>
</div>