/************** Default Styling **************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background: gray;
}


/* Nav Styling Extras */
a:hover {
  color: black;
}

li {
  display: inline;
  padding-right: 20px;
}

ul {
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: 'Rye', cursive;*/
  list-style-type: none;
  text-align: center;
}

  a {
    font-family: 'Special Elite', cursive;
    font-size: 1.0rem;
    color: red;
    letter-spacing: 2px;
    transition:all 0.5s;
  }

  li {
    padding-right: 10px;
  }


@media only screen and (min-width: 835px) {
  a {
    font-family: 'Special Elite', cursive;
    font-size: 1.0rem;
    color: white;
    letter-spacing: 2px;
    transition:all 0.5s;
  }

  li {
    padding-right: 10px;
  }
}


@media only screen and (min-width: 1145px) {
  a {
    font-family: 'Special Elite', cursive;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 2px;
    transition:all 0.5s;
  }

  li {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1525px) {
  a {
    font-family: 'Special Elite', cursive;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 2px;
    transition:all 0.5s;
  }

  li {
    padding-right: 40px;
  }
}

