<div class="container-fluid">
  <section class=row>
    <h2 class="left">{{ players.welcome }}</h2>
  <div class="col-lg-4 col-md-4 col-sm-4"> <!-- ng-show? -->
    <div>
        <!-- <table class="table table-striped table-hover table-condensed"> -->
        <table>
          <thead>
            <tr>
              <th>Player Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in players.riiPlayers | orderBy: 'lastName' | filter: userSearch">
              <td><a href ="" ng-click="players.selectPlayer(player)">{{ player.firstName }}  {{ player.lastName }}</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


    <!-- Player Bio Section -->
    <div ng-show="players.individualPlayerView" class="col-lg-8 col-md-8 col-sm-8">
      <section class="row">
        <div class="col-md-7"><h2>Player Bio</h2>
          <h4>Name:</h4>
          <h4> {{ players.player.firstName }} {{ players.player.lastName }}
          </h4>
          <p>Email: {{ players.player.email }}</p>
          <p>Phone: {{ players.player.phone }}</p>
        </div>
        <div class="col-md-5">
          <img ng-src="{{ players.player.image1 }}" class="img-player" alt="Player image">
        </div>
<!--         <div ng-show="players.individualPlayerView" class="row">
          <div class="col-sm-12">
            <p>Email: {{ players.player.email }}</p>
            <p>Phone: {{ players.player.phone }}</p>
          </div>
        </div> -->
      </section>
    </div>
  </section>
</div>


