<div class="container-fluid">
  <section class=row>
    <h2 class="left">{{ schedules.welcome }}</h2>
  <div class="col-lg-4 col-md-4 col-sm-4"> <!-- ng-show? -->
    <div>
        <!-- <table class="table table-striped table-hover table-condensed"> -->
        <table>
          <thead>
            <tr>
              <th>Games</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="schedule in schedules.vafSchedules | orderBy: 'date' | filter: userSearch">
              <td><a href ="" ng-click="schedules.selectSchedule(schedule)">{{ schedule.visitorTeam }} vs {{ schedule.homeTeam }}</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


    <!-- Schedule Bio Section -->
    <div ng-show="schedules.individualScheduleView" class="col-lg-8 col-md-8 col-sm-8">
      <section class="row">
        <div class="col-md-7"><h3>Result</h3>
          <h4>Date:</h4>
          <h4> {{ schedules.schedule.date }}
           <!-- {{schedules.team.cityName}} -->
          <!-- want to pull in via relationship the team of this_player without it pulling in all teams and searching - is this possible yearView.game.locationId.city -->
          </h4>
          <h4>{{ schedules.schedule.visitorTeam }} - {{ schedules.schedule.visitorScore }} - {{ schedules.schedule.homeTeam }} - {{ schedules.schedule.homeScore }}</h4></h4>
    <!--       <p>Email: {{ schedules.schedule.visitorTeam }}</p>
          <p>Phone: {{ schedules.schedule.homeTeam }}</p> -->
        </div>
        <div class="col-md-5">
          <img class="img-scale" ng-src="{{ schedules.schedule.image1 }}" class="img-schedule" alt="Schedule image">
        </div>
<!--         <div ng-show="schedules.individualScheduleView" class="row">
          <div class="col-sm-12">
            <p>Email: {{ schedules.schedule.email }}</p>
            <p>Phone: {{ schedules.schedule.phone }}</p>
          </div>
        </div> -->
      </section>
    </div>
  </section>
</div>
