<div class="container-fluid">
  <section class=row>
    <h2 class="col-xs-12 text-center mobile-heading">{{ schedules.welcome }}</h2>
  <hr class="style1">

<!--   <div class="col-lg-4 col-md-4 col-sm-5">
    <div>
        <table>
          <thead>
            <tr>
              <th>Games</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="schedule in schedules.vafSchedules | orderBy: 'date' | filter: userSearch">
              <td><a href ="" ng-click="schedules.selectSchedule(schedule)">{{ schedule.date }} - {{ schedule.visitorTeam.cityName }} vs {{ schedule.homeTeam.cityName }}
              </a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div> -->

  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
    <form class="navbar-form navbar-center">
      <div class="form-group">Game Search:
        <input type="text" class="form-control" placeholder="Search" ng-model="scheduleSearch">
      </div>
    </form>
    <button id="clear-filter" ng-click="clearFilter()" type="button">Clear Search</button>
    <h5>Games: (scroll through list below)</h5>
    <div class="schedule-scroll">
      <table>
        <tbody>
          <tr ng-repeat="schedule in schedules.vafSchedules | orderBy: 'date' | filter: scheduleSearch">
            <td><a href ="" ng-click="schedules.selectSchedule(schedule)" >{{ schedule.date }} - {{ schedule.visitorTeam.cityName }} <!-- {{ schedule.visitorTeam.teamName }} --> vs {{ schedule.homeTeam.cityName }} <!-- {{ schedule.homeTeam.teamName }} --> </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- content view with info about schedules - hide when a player is selected -->
  <div ng-show="schedules.initialView" class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12"><br>
      <img src="../images/pole_ref_2015.png" alt="Linesman operating down pole at 2015 VAF game" class="img-player">
      <i class="pic-info">2015 Vintage Linesman holding down pole</i>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
      <h4>V.A.F Game Facts</h4>
      <ul>
        <li>Team managers meet for coin flip</li>
        <li>Four quarters with 15 minute running clock </li>
        <li>3 Interior linesmen, 2 ends, 4 backs</li>
        <li>Touchbacks are taken at the 10 yard line</li>
        <li>First downs located at 20-40-20 yard lines</li>
        <li>Drop Kicks are 1 extra point vs place kicks </li>
        <li>A throw into the end zone is a touchback</li>
        <li>The backfield can shift just prior to snap</li>
      </ul>
    </div>
  </div>


    <!-- Schedule Bio Section -->
    <div ng-show="schedules.individualScheduleView" class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <section class="row">
        <div class="col-md-7">
          <h5>Date: {{ schedules.schedule.date }}</h5>
          <h4>
           <!-- {{schedules.team.cityName}} -->
          <!-- want to pull in via relationship the team of this_player without it pulling in all teams and searching - is this possible yearView.game.locationId.city -->
          </h4>
          <h5>Location: {{ schedules.schedule.locationId.city }}, {{ schedules.schedule.locationId.state }} - {{ schedules.schedule.locationId.venueName }}</h5>

          <img class="img-schedule" ng-src="{{ schedules.schedule.image1 }}" class="img-schedule" alt="Schedule image">
          <p>{{ schedules.schedule.image1Info }}</p>
        </div>
        <div class="col-md-5">
          <table class="table table-bordered table-size">
              <thead>
                <tr>
                  <th></th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>T</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{ schedules.schedule.visitorTeam.teamName }}</th>
                  <td>{{ schedules.schedule.visitor1st }}</td>
                  <td>{{ schedules.schedule.visitor2nd }}</td>
                  <td>{{ schedules.schedule.visitor3rd }}</td>
                  <td>{{ schedules.schedule.visitor4th }}</td>
                  <th>{{ schedules.schedule.visitorScore }}</th>

                </tr>
                <tr>
                  <th>{{ schedules.schedule.homeTeam.teamName }}</th>
                  <td>{{ schedules.schedule.home1st }}</td>
                  <td>{{ schedules.schedule.home2nd }}</td>
                  <td>{{ schedules.schedule.home3rd }}</td>
                  <td>{{ schedules.schedule.home4th }}</td>
                  <th>{{ schedules.schedule.homeScore }}</th>
                </tr>
              </tbody>
            </table>
            <p>{{ schedules.schedule.gameSummary }}</p>
            <p>{{ schedules.schedule.gameSummary2}}</p>
        </div>
      </section>
    </div>
  </section>
</div>
